.center {
        background: #EBE3D5;
        color: white !important;
        border: 1px solid #776B5D;
        border-bottom-right-radius: 20px;
        width: 250px;
        height: 280px;
        margin: auto;
        margin-top: 20px;
      }
      img{
        margin-top: 10px;
      }
      h5,p,h4{
        color: black;
      }